.auto-ketting {
  width: 100%;
  display: flex;
  justify-content: center; }
  .auto-ketting li {
    list-style: none; }
  .auto-ketting a {
    text-decoration: none; }
  .auto-ketting .autoketing-wrap {
    max-width: 800px; }
  .auto-ketting .auto-ketting-setting {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 32, 40, 0.88);
    z-index: 100;
    left: 0;
    top: 0; }
@keyframes move_right {
  from {
    top : -50%;
    opacity : 0;
  }
  to {
    top: 100px; opacity : 1;} }
    .auto-ketting .auto-ketting-setting .popup-setting {
      width: 700px;
      background: #fff;
      position: fixed;
      border-radius: 6px;
      transform: translateX(-50%);
      left: 50%;
      top: 100px;
      animation-name: move_right;
      animation-duration: 1s; padding-bottom: 30px}
      .auto-ketting .auto-ketting-setting .popup-setting h2 {
        font-size: 20px;
        color: #757575;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0;
        padding: 36px 0;
        background: rgba(196,196,196,0.2);
      }
      .auto-ketting .auto-ketting-setting .popup-setting .content-setting {
        display: flex;
        flex-wrap: wrap;
        padding: 5px 0; }
        .auto-ketting .auto-ketting-setting .popup-setting .content-setting p {
          font-size: 14px;
          color: #757575;
          width: 100%;
          padding: 0 150px;
          text-align: center; 
          margin : 30px 0;
        }
        .auto-ketting .auto-ketting-setting .popup-setting .content-setting .box-icon-setting {
          margin: 0 auto;
          padding: 22px 46px 23px 54px;
          border: 0.5px solid #757575;
          display: flex;
          align-items: center; }
          .auto-ketting .auto-ketting-setting .popup-setting .content-setting .box-icon-setting a {
            margin: 0 20px; }
            .auto-ketting .auto-ketting-setting .popup-setting .content-setting .box-icon-setting a:first-child img {
              max-height: 60px;
              object-fit: cover; }
            .auto-ketting .auto-ketting-setting .popup-setting .content-setting .box-icon-setting a:last-child img {
              max-width: 240px; }
          .auto-ketting .auto-ketting-setting .popup-setting .content-setting .box-icon-setting .icon-plus {
            max-width: 30px; }
        .auto-ketting .auto-ketting-setting .popup-setting .content-setting .desc {
          font-size: 14px;
          color: #757575;
          width: 100%;
          text-align: center;
          padding: 0 150px;
          margin : 30px 0 0 0;
        }
      .auto-ketting .auto-ketting-setting .popup-setting .autoketing-connect {
        width: 100%;
        padding: 25px 0;
        display: flex;
        justify-content: center; }
        .auto-ketting .auto-ketting-setting .popup-setting .autoketing-connect a {
          font-size: 14px;
          color: #fff;
          text-transform: uppercase;
          background: #F27321;
          border-color: #445fff;
          border-radius: 5px;
          padding: 9px 24px; }
  .auto-ketting .auto-ketting-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-right: 30px; }
    .auto-ketting .auto-ketting-header h1 {
      font-size: 28px;
      color: #55586c;
      width: 100%;
      display: flex; }
    .auto-ketting .auto-ketting-header p {
      font-size: 14px;
      color: #55586c;
      flex: 0 0 70%; }
    .auto-ketting .auto-ketting-header img {
      max-width: 100px;
      object-fit: cover;
      display: flex; }
  .auto-ketting .list-app {
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px; }
    .auto-ketting .list-app .list-tab-menu ul {
      display: flex;
      margin-bottom: 0; }
      .auto-ketting .list-app .list-tab-menu ul li a {
        font-size: 15px;
        color: #82869e;
        padding: 8px 15px;
        border-radius: 5px 5px 0 0;
        background: #e4e5f0; }
      .auto-ketting .list-app .list-tab-menu ul li a:focus{resize: none;}
    .auto-ketting .list-app .list-app-data {
      display: none; }
      .auto-ketting .list-app .list-app-data:nth-child(3) {
        display: block; }
      .auto-ketting .list-app .list-app-data .box-item-app {
        width: 100%;
        padding: 20px 0 20px 10px;
        background: #fff;
        align-items: center;
        border-bottom: 1px solid #e4e5f0;
        display: flex; }
        .auto-ketting .list-app .list-app-data .box-item-app:hover {
          background: #f8f8fc; }
        .auto-ketting .list-app .list-app-data .box-item-app:last-child {
          border: none; }
        .auto-ketting .list-app .list-app-data .box-item-app .wrap-item {
          flex: 0 0 80%;
          display: flex;
          align-items: center; }
          .auto-ketting .list-app .list-app-data .box-item-app .wrap-item .icon img {
            max-width: 80px;
            object-fit: cover; }
          .auto-ketting .list-app .list-app-data .box-item-app .wrap-item .desc {
            margin-left: 10px; }
            .auto-ketting .list-app .list-app-data .box-item-app .wrap-item .desc h3 {
              font-size: 20px;
              color: #55586c; }
              .auto-ketting .list-app .list-app-data .box-item-app .wrap-item .desc h3 span {
                font-size: 12px;
                color: #55586c;
                padding: 5px 15px;
                background: #e4e5f0;
                border-radius: 20px;
                margin-left: 10px; }
            .auto-ketting .list-app .list-app-data .box-item-app .wrap-item .desc p {
              font-size: 14px;
              color: #55586c; }
              .auto-ketting .list-app .list-app-data .box-item-app .wrap-item .desc p a {
                font-size: inherit;
                color: #445fff; }
        .auto-ketting .list-app .list-app-data .box-item-app .get-app {
          text-align: center;
          flex: 0 0 20%; }
          .auto-ketting .list-app .list-app-data .box-item-app .get-app a {
            font-size: 14px;
            color: #fff;
            padding: 8px 30px;
            background: #e4e5f0;
            border-radius: 5px; }
          .auto-ketting .list-app .list-app-data .box-item-app .get-app p {
            opacity: 0;
            width: 100%; }
            .auto-ketting .list-app .list-app-data .box-item-app .get-app p span {
              font-size: 12px;
              color: #444; }
          .auto-ketting .list-app .list-app-data .box-item-app .get-app:hover p {
            opacity: 1; }
    .auto-ketting .list-app #installAppsList .get-app a {
      background: linear-gradient(-180deg, #445FFF 0%, #2D46EB 100%);
      border: 1px solid #2d46eb; }
  .auto-ketting .active {
    background: #fff !important; }

.content-setup-woo {
  background: #fff;
  height: 100%;
  margin: 10px 0 0 -20px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px; }
  .content-setup-woo a {
    text-decoration: none; }
  .content-setup-woo h2 {
    font-size: 30px;
    color: #23282d;
    margin-top: 56px;
    line-height: 1.5;
  }
  .content-setup-woo p {
    display: flex;
    width: 100%;
    font-size: 22px;
    font-weight: 400;
    padding-right: 50px; }
    .content-setup-woo p:last-child {
      font-size: 14px; }
      .content-setup-woo p:last-child a {
        padding: 0 5px;
        font-style: italic; }
  .content-setup-woo .set-up {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px; }
    .content-setup-woo .set-up a {
      font-size: 14px;
      padding: 15px 36px;
      color: #fff;
      background: #00669b;
      border-color: #00669b;
      border-radius: 5px; }
  .content-setup-woo img {
    margin-top: 20px; }

/*# sourceMappingURL=admin.css.map */
